<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="/code/e401" alt="401">
    <img src="/code/e403" alt="403">
    <img src="/code/e404" alt="404">
    <img src="/code/e503" alt="404">
    <img src="/code/e500" alt="404">
    <iframe src="/code/e500">iframe</iframe>
    <iframe src="/users/">iframe - users</iframe>
    <script src="/code/index"></script>
    <script src="/javascripts/error.js"></script>
    <script src="/code/edit"></script>
  </body>
</html>
