<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <iframe src="http://www.qq.com">iframe - users</iframe>
    <script src="/code/index"></script>
  </body>
</html>
