<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="/code/e503" alt="404">
    <img src="/code/e500" alt="404">
    <script src="/code/edit"></script>
  </body>
</html>
